@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $lato-font;

  h1,
  h2,
  h3,
  a,
  li,
  p,
  small {
    color: white;
  }

  button {
    background: white;
    border: none;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
  }
}

header {
  position: absolute;
  height: 20vh;

  .container {
    padding: 20px 20px;
    width: 100vw;
    display: flex;
    // background: pink;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    img {
      width: 120px;
    }

    nav {
      display: none;

      ul {
        display: flex;
        list-style: none;
        padding: 20px;

        li {
          padding: 20px;
        }
      }
    }
  }
}

.landing {
  height: 102vh;
  background: url('./assests/nightsky.jpg') no-repeat center center / cover;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.75rem;
      color: orange;
    }

    button {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 1.2rem;
      // width: 200px;
    }

    small {
      // background: red;
      font-weight: bold;
      width: 150px;
    }
  }
}

.earth {
  background: #0b0f15;
  height: 100vh;
  position: relative;
  display: flex;

  h2 {
    // background: pink;
    position: relative;
    top: -15px;
    padding: 0 10px;
  }

  .dotted-line {
    border-top: 7.5px dotted orange;
    position: relative;
    top: -5px;
    &:nth-of-type(1) {
      width: 20vw;
    }

    &:nth-of-type(2) {
      width: 10vw;
    }
  }

  img {
    height: 300px;
    text-align: right;
    position: absolute;
    right: -150px;
    top: -150px;
  }
}

// --------------------------------------------------------------------------

// LANDSCAPE FORMATS
@media (orientation: landscape) {
  @media (max-width: $iphone6-width-landscape) {
    .landing {
      .container {
        button {
          margin-top: 0px;
        }
      }
    }
  }
  @media (min-width: $iphone6-width-landscape) and (max-width: $iphoneX-width-landscape) {
    .landing {
      .container {
        button {
          margin-top: 0px;
        }
      }
    }
  }

  @media (min-width: 813px) and (max-width: $ipad-width-landscape) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
  }

  @media (min-width: 1025px) and (max-width: $ipad-pro-width-landscape) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
  }

  @media (min-width: $desktop-min-width) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
  }
}

// PORTRAIT FORMATS
@media (orientation: portrait) {
  // Ipad
  @media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
  }
}

// Ipad Pro
@media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
  header {
    .container {
      nav {
        display: block;
      }
    }
  }
}

// Desktop
@media (min-width: $desktop-min-width) {
  header {
    .container {
      nav {
        display: block;
      }
    }
  }
}
