@import './variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $lato-font;

  h1,
  h2,
  h3,
  a,
  li,
  p,
  small {
    color: white;
  }

  button {
    background: white;
    border: none;
    padding: 20px;
    width: 150px;
    border-radius: 10px;
  }
}

header {
  position: absolute;
  height: 20vh;

  .container {
    padding: 20px 20px;
    width: 100vw;
    display: flex;
    // background: pink;
    align-items: center;
    justify-content: space-between;
    text-align: center;

    img {
      width: 120px;
    }

    nav {
      display: none;

      ul {
        display: flex;
        list-style: none;
        padding: 20px;

        li {
          padding: 20px;
        }
      }
    }
  }
}

.landing {
  height: 95vh;
  background: url('./assests/nightsky.jpg') no-repeat center center / cover;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.75rem;
      color: orange;
    }

    button {
      margin-top: 60px;
      margin-bottom: 20px;
      font-size: 1.2rem;
      // width: 200px;
    }

    small {
      // background: red;
      font-weight: bold;
      width: 150px;
    }
  }
}

.earth {
  background: #0b0f15;
  height: 58vh;
  position: relative;
  // background: pink;

  div {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    // background: red;
    height: 5vh;
    width: 100%;

    h2 {
      // background: pink;
      position: relative;
      top: -15px;
      padding: 0 10px;
    }

    .dotted-line {
      border-top: 7.5px dotted orange;
      position: relative;
      top: -5px;

      &:nth-of-type(1) {
        width: 20vw;
      }

      &:nth-of-type(2) {
        width: 39vw;
      }
    }

    img {
      height: 300px;
      text-align: right;
      position: absolute;
      right: 0px;
      top: -150px;
      // background: blue;
    }
  }

  .diagram {
    width: 100%;
    display: flex;
    height: auto;
    // background: blue;
  }
}

.space {
  background: #0b0f15;
  height: 85vh;
  position: relative;
  // background: pink;

  div {
    display: flex;
    align-items: space-between;
    justify-content: space-between;
    // background: red;
    height: 5vh;
    width: 100%;

    h2 {
      // background: pink;
      position: relative;
      top: -15px;
      padding: 0 10px;
    }

    .dotted-line {
      border-top: 7.5px dotted orange;
      position: relative;
      top: -5px;

      &:nth-of-type(1) {
        width: 33vw;
      }

      &:nth-of-type(2) {
        width: 33vw;
      }
    }
  }

  img {
    padding-top: 20px;
    height: 250px;
    text-align: right;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    // background: blue;
  }

  .diagram {
    width: 100%;
    height: auto;
    z-index: 0;
    padding-top: 40px;

    // background: blue;
  }
}

footer {
  height: 5vh;
  background: rgb(53, 54, 57);
  display: flex;

  align-items: center;
  justify-content: space-around;
}
// --------------------------------------------------------------------------

// LANDSCAPE FORMATS
@media (orientation: landscape) {
  @media (max-width: $iphone6-width-landscape) {
    .landing {
      .container {
        button {
          margin-top: 0px;
        }
      }
    }
    .earth {
      display: none;
    }
    .space {
      display: none;
    }
  }

  @media (min-width: $iphone6-width-landscape) and (max-width: $iphoneX-width-landscape) {
    .landing {
      .container {
        button {
          margin-top: 0px;
        }
      }
    }
    .earth {
      display: none;
    }
    .space {
      display: none;
    }
  }

  @media (min-width: 813px) and (max-width: $ipad-width-landscape) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
    .earth {
      display: none;
    }
    .space {
      display: none;
    }
  }

  @media (min-width: 1025px) and (max-width: $ipad-pro-width-landscape) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
    .earth {
      display: none;
    }
    .space {
      display: none;
    }
  }

  @media (min-width: $desktop-min-width) {
    header {
      .container {
        nav {
          display: block;
        }
      }
    }
    .earth {
      display: none;
    }
    .space {
      display: none;
    }
  }
}

// PORTRAIT FORMATS
@media (orientation: portrait) {
  // @media (min-width: 375px) and (max-width: $iphoneX-height-landscape) {
  //   .landing {
  //     .container {
  //       button {
  //         margin-top: 0px;
  //       }
  //     }
  //   }
  // }
}
// Ipad
@media (min-width: $ipad-min-width) and (max-width: $ipad-max-width) {
  header {
    .container {
      nav {
        display: block;
      }
    }
  }

  .earth {
    display: none;
    height: 48vh;
    // padding: 0 10%;
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      .dotted-line {
        border-top: 7.5px dotted orange;
        position: relative;
        top: -5px;

        &:nth-of-type(1) {
          width: 33vw;
        }

        &:nth-of-type(2) {
          width: 33vw;
        }
      }
    }

    .diagram {
      // padding-top: 25%;
      width: auto;
      height: 100%;
    }
  }

  .space {
    display: none;
    height: 70vh;
    background: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .diagram {
      // padding-top: 25%;
      text-align: center;
      width: auto;
      height: 100%;
    }
  }
}

// Ipad Pro
@media (min-width: $ipad-pro-min-width) and (max-width: $ipad-pro-max-width) {
  header {
    .container {
      nav {
        display: block;
      }
    }
  }

  .earth {
    display: none;
    height: 48vh;
    // padding: 0 10%;
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      .dotted-line {
        border-top: 7.5px dotted orange;
        position: relative;
        top: -5px;

        &:nth-of-type(1) {
          width: 33vw;
        }

        &:nth-of-type(2) {
          width: 33vw;
        }
      }
    }

    .diagram {
      // padding-top: 25%;
      width: auto;
      height: 100%;
    }
  }

  .space {
    display: none;

    height: 70vh;
    background: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .diagram {
      // padding-top: 25%;
      text-align: center;
      width: auto;
      height: 100%;
    }
  }
}

// Desktop
@media (min-width: $desktop-min-width) {
  header {
    .container {
      nav {
        display: block;
      }
    }
  }

  .earth {
    display: none;

    height: 48vh;
    // padding: 0 10%;
    background: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      .dotted-line {
        border-top: 7.5px dotted orange;
        position: relative;
        top: -5px;

        &:nth-of-type(1) {
          width: 33vw;
        }

        &:nth-of-type(2) {
          width: 33vw;
        }
      }
    }

    .diagram {
      // padding-top: 25%;
      width: auto;
      height: 100%;
    }
  }

  .space {
    display: none;

    height: 70vh;
    background: pink;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .diagram {
      // padding-top: 25%;
      text-align: center;
      width: auto;
      height: 100%;
    }
  }
}
