* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}
body h1,
body h2,
body h3,
body a,
body li,
body p,
body small {
  color: white;
}
body button {
  background: white;
  border: none;
  padding: 20px;
  width: 150px;
  border-radius: 10px;
}

header {
  position: absolute;
  height: 20vh;
}
header .container {
  padding: 20px 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
header .container img {
  width: 120px;
}
header .container nav {
  display: none;
}
header .container nav ul {
  display: flex;
  list-style: none;
  padding: 20px;
}
header .container nav ul li {
  padding: 20px;
}

.landing {
  height: 102vh;
  background: url("./assests/nightsky.jpg") no-repeat center center/cover;
}
.landing .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.landing .container h2 {
  font-size: 2.5rem;
}
.landing .container h3 {
  font-size: 1.75rem;
  color: orange;
}
.landing .container button {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
.landing .container small {
  font-weight: bold;
  width: 150px;
}

.earth {
  background: #0b0f15;
  height: 48vh;
  position: relative;
}
.earth div {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
}
.earth div h2 {
  position: relative;
  top: -15px;
  padding: 0 10px;
}
.earth div .dotted-line {
  border-top: 7.5px dotted orange;
  position: relative;
  top: -5px;
}
.earth div .dotted-line:nth-of-type(1) {
  width: 20vw;
}
.earth div .dotted-line:nth-of-type(2) {
  width: 39vw;
}
.earth div img {
  height: 300px;
  text-align: right;
  position: absolute;
  right: 0px;
  top: -150px;
}
.earth .diagram {
  width: 100%;
  display: flex;
  height: auto;
}

.space {
  background: #0b0f15;
  height: 70vh;
  position: relative;
}
.space div {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
  height: 5vh;
  width: 100%;
}
.space div h2 {
  position: relative;
  top: -15px;
  padding: 0 10px;
}
.space div .dotted-line {
  border-top: 7.5px dotted orange;
  position: relative;
  top: -5px;
}
.space div .dotted-line:nth-of-type(1) {
  width: 33vw;
}
.space div .dotted-line:nth-of-type(2) {
  width: 33vw;
}
.space img {
  padding-top: 20px;
  height: 250px;
  text-align: right;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
}
.space .diagram {
  width: 100%;
  height: auto;
  z-index: 0;
  padding-top: 40px;
}

footer {
  height: 5vh;
  background: #353639;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: landscape) and (max-width: 667px) {
  .landing .container button {
    margin-top: 0px;
  }
}
@media (orientation: landscape) and (min-width: 667px) and (max-width: 812px) {
  .landing .container button {
    margin-top: 0px;
  }
}
@media (orientation: landscape) and (min-width: 813px) and (max-width: 1024px) {
  header .container nav {
    display: block;
  }
}
@media (orientation: landscape) and (min-width: 1025px) and (max-width: 1366px) {
  header .container nav {
    display: block;
  }
}
@media (orientation: landscape) and (min-width: 1201px) {
  header .container nav {
    display: block;
  }
}
@media (orientation: portrait) and (min-width: 670px) and (max-width: 769px) {
  header .container nav {
    display: block;
  }

  .earth .diagram {
    padding-top: 25%;
  }

  .space .diagram {
    padding-top: 25%;
  }
}
@media (min-width: 770px) and (max-width: 1200px) {
  header .container nav {
    display: block;
  }
}
@media (min-width: 1201px) {
  header .container nav {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
